<html style=" background-color: silver; background-image: url('../assets/Background2.jpeg'); background-size: cover; background-repeat: no-repeat">
<style>
  div a {
    margin-left: 20px;
    margin-right: 20px;
    mix-blend-mode: multiply;
  }
</style>
<body style="text-align: center; margin: 5%;">
  <div style="color: maroon; font-family: sans-serif;">
    <h1 style="color: black; padding-top: 40px; padding-bottom: 10px;">Jawad Ali Abbasi</h1>
    <h3 style="color: gray; font-family:'Courier New', Courier, monospace">Software Engineering Student</h3>
    <h4 style=" font-size: medium; margin-top: 60px; margin-bottom: 15px; font-family: cursive;"><b>About Me</b></h4>
    <p>Have to write stuff about myself here. <br/>
       But gonna do the main task right now. <br/>
       Might come back to this later.</p>
  </div>
  <div>
    <h4 style="margin-top: 100px; color: black; font-family: cursive;"><b>Find Me Here</b></h4>
    
    <a href="https://www.linkedin.com/in/jawad-ali-abbasi-63b128216">
      <img alt="LinkedIn" src="../assets/LinkedIn3" width="110px" height="60px">
    </a>

    <a href="https://linktr.ee">
      <img alt="Linktree" src="../assets/Linktree" width="120px" height="60px">
    </a>

    <br/>

    <a href="https://twitter.com/JawadAliAbbasi6?s=09">
      <img alt="Twitter" src="../assets/Twitter" width="70px" height="50px">
    </a>

    <a href="https://youtube.com">
      <img alt="Youtube" src="../assets/Youtube" width="80px" height="70px">
    </a>

    <a href="https://www.facebook.com">
      <img alt="Facebook" src="../assets/Facebook" width="60px" height="60px">
    </a>

  </div>
</body>
</html>